@import '../../styles/vars.scss';

.form {
	&__list-name{ 
		width: 200px;
	}

	&__list-name.error {
		color: red;
		text-shadow: 0px 0px 5px $red;
	}

	&__input.form__list-time{ 
		width: 60px;
		flex: 0 0 60px;
		min-width: 60px;
	}

	&__list-switch{ 
		width: 100px;
	}

	&__list-row {
		width: 100%;
		gap: 20px;

		@media (max-width: 575px) {
			gap: 10px;
			max-width: 230px;
		}
	}

	&__list-btn-cell {
		flex: 1 0 auto;
	}

	&__list-btn {
		width: 20px;
		display: block;
		margin-left: auto;
	}
}